@font-face {
    font-family: Heebo;
    src: url("/fonts/Heebo-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Heebo;
    src: url("/fonts/Heebo-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Yantramanav;
    src: url("/fonts/Yantramanav-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
 :where([fill]:not(
   [fill="none"],
   [fill^="url"]
 )) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not(
   [stroke="none"],
   [stroke^="url"]
 )) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;

    --border: 1px solid var(--color-white);
    --border-radius: 30px;

    --font-family-base: "Heebo", sans-serif;
    --font-family-accent: "Yantramanav", sans-serif;

    --input-height: 54px;
    
    --container-width: 1300px;

    --transition-duration: 0.2s;
 }

 body {
  background-color: var(--color-black);
  font-family: var(--font-family-base);
  color: var(--color-white);
 }

a {
  text-decoration: none;
  color: var(--color-white)
}

a:hover {
  color: var(--color-light-gray);
}

.light-text {
  color: var(--color-light-gray);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
  column-gap: 50px;
}

.header-nav-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
}

.header-nav-link.is-current::after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: currentColor;
  border-radius: 50%;
  
}

.button {
  cursor: default;
  height: var(--input-height);
  width: 124px;
  background-color: var(--color-white);
  font-weight: 700;
  border: none;
  border-radius: var(--border-radius);
}

.link-button {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  padding-left: 30px;
  cursor: default;
  color: var(--color-white);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  height: var(--input-height);
  background-color: transparent;
  font-weight: 300;
  border: var(--border);
  border-radius: var(--border-radius);
}

.link-button::after {
  background: url("/images/arrow-right-top.svg") center no-repeat;
  margin-left: 20px;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
}

.link-button:hover, .link-button:hover::after {
  color: var(--color-dark-gray);
  background-color: var(--color-light-gray);
}

button:hover {
  background-color: var(--color-light-gray);
}

.header-logo {
  flex-shrink: 0;
}

.header-nav-list {
  display: flex;
  column-gap: 50px;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-burger-button {
  background-color: transparent;
  border: none;
  cursor: default;
  pointer-events: none;
}

.header-buy-button {
  margin-right: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-transform: uppercase;
  min-height: 80vh;
  padding-inline: 70px;
}

.banner-title {
  font-size: clamp(60px, 18.75vw, 360px);
}

.banner-info {
  display: flex;
  margin-left: 30px;
  font-size: clamp(10px, 1.8vw, 30px);
  font-weight: 700;
  align-items: end;
}

.banner-info::before {
  content: "";
  margin-right: 30px;
  width: 6.5em;
  aspect-ratio: 1;
  background: url("/images/arrow-right-bottom.svg") center/contain no-repeat;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 14px;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  cursor: default;
  width: 10px;
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.banner-pagination-button.is-current {
  background-color: var(--color-white);
}

.motivation {
  margin-inline: 310px;
}

.motivation-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.motivation-card .motivation-card-content {
  margin-right: 210px;
}

.motivation-card-title {
  display: flex;
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 14px;
}

.motivation-card-title::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 6px;
  width: 26px;
  aspect-ratio: 1;
  background: url("/images/marker.svg") center/contain no-repeat;
}

.motivation-card-description {
  margin-bottom: 37px;
}

.motivation-card-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.motivation-card-2 .motivation-card-content {
  margin-left: 210px;
}

@media (max-width: 1540px) {
  .motivation-card-title {
    font-size: 30px;
  }
  .motivation-card .motivation-card-content {
    margin-right: 120px;
  }
  .motivation-card-2 .motivation-card-content {
    margin-left: 120px;
  }
}

@media (max-width: 1200px) {
  .motivation {
    margin-inline: 220px;
  }
  .motivation-card {
    flex-direction: column-reverse;
  }
  .motivation-card .motivation-card-content {
    margin-right: 0;
  }
  .motivation-card-2 {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
  .motivation-card-2 .motivation-card-content {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 930px) {
  .header {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 1;
  }
  .banner {
    padding-inline: 30px;
  }
  .banner-info::before {
    margin-right: 10px;
  }
  .motivation {
    margin-inline: 160px;
  }
}

@media (max-width: 630px) {
  .motivation {
    margin-inline: 100px;
  }
}

@media (max-width: 500px) {
  .header-nav-list {
    column-gap: 20px;
  }
  .header-actions {
    margin-block: 16px;
  }
  .banner {
    padding-inline: 10px;
  }
  .motivation {
    margin-inline: 80px;
  }
}